
#newEmployee {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background: rgba(211,211,211,.4);
    left: 0;
    overflow: hidden;
}

#containerNew {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

#message {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

#insertError {
    display: none;  
}

#divSuccess, #editButton {
    display: none;  
}

#codeButton {
    display: none;
}

#messageDelete {
    display: none;
}
